.blockarea{
    display: flex;
    flex-direction: row;
}
.Navbar{
    
    padding: 1.2rem 0rem;
    margin: 0rem 0rem;
    background-color: #0b121f;
}
.a{
    font-size: 24px;
    padding: 0rem 2rem;
    
    opacity: 0.7;
    color:white;
    text-decoration: none;
}
.rightnav{
    border: 2px solid #ff8a00;
    background-color: #ff8a00;
    padding: 0rem 1.5rem;
    border-radius: 4px;
    position: absolute;
    right: 20px;
}
a:hover{
    opacity: 1;
}
.image{
    padding: 1.2rem 2rem;
    
    width: 35px;
    position:relative;
    
}