.contmain{
    display:flex;
    flex-direction: row;
}

.cont{
    margin-left: 3rem;
    height: 38rem;
    width: 70rem;
    background-color: #1f2735;
    border: 0.1rem solid rgb(47, 46, 46);
}
.heading{
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-top: 12rem;
    line-height: 0px;
    text-align: center;
}
.para{  
    text-align: center;
    background-color: #1f2735;
    color: #61656c;
}
.inputdiv{
    background-color: #1f2735;
}
.searchinp{
    color:#1f2735;
    margin-top: 2.5rem;
    background-color: #ffffff;
    font-size: 27px;
    border-style: none;
    margin-left: 21rem;
    padding: 0.7rem 1rem;
    width: 20rem;
    border-radius: 2px;
}
.searchbutton{
    position:absolute;
    margin-top: 2.5rem;
    border-style: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 0.55rem 1rem;
    margin-left: 1rem;
    background-color: #FF8A00;
    width: 4.5rem;
    height: 3.5rem;
    
}
.circle{
    font-size: 10em;
    background-color:#FF8A00;
    margin-left: -0.2rem;
    display: inline-block;
    width: 1.8rem;
    box-sizing: content-box;
    height: 1.8rem;
    border: 3.5px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 0.35em;
    z-index: 1;
  }
  .circle:before {
   
    margin-top: 1.7rem;
    content: "";
    display: inline-block;
    position: absolute;
    border: 1.5px solid white ;
    background: rgb(255, 255, 255);
    width: 1.5rem;
    transform: rotate(45deg);
    z-index: -5;
  }