.heading{
    font-size: 2.2rem;
    margin: 0rem 0rem;
    margin-top: 10rem;
    margin-left: 1.8rem;
}
.heading2{
    margin: 0rem 0rem;
    margin-left: 2rem;
    margin-bottom: 1.8rem;
}
.input{
    margin-left: 2rem;
    padding: 0.3rem 0.4rem;
    width: 20rem;
    color: white;
    border-style: none;
    height: 2rem;
    border-radius: 5px;
    background-color: #45474E;
    font-size: 1.1rem;
}
.linktologin{
    background-color: #595b61;
    color: #0094FF;
    text-decoration: none;
    padding: 0.5rem 2rem;   
    margin: 7rem 0rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 4.2rem;
    border-style: none;
}
.createaccount{
    background-color: #0094FF;
    padding: 0.5rem 0rem;
    margin: 0rem 1rem;
    width: 8rem;
    border-radius: 4px;
    font-size: 1rem;
    border-style: none;
}