
.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.innerBlock{
    margin: auto 10rem;
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    margin: 0rem 0rem 0.5rem 0rem;
}
.heading2{
    font-size: 1.5rem;
    opacity: 0.7;
   margin: 0rem 0rem 2.4rem 0rem;
}
.input{
    padding:0.6rem;
    width: 22rem;
    color: white;
    border-style: none;
    height: 2rem;
    border-radius: 5px;
    background-color: #45474E;
    font-size: 1.1rem;
    margin: 0rem 0rem 1.4rem 0rem;
}
.input:focus{
    outline: none;
}
.button{
    margin: 1rem 0rem 0rem 0rem;
    width: 23rem;
    display: flex;
    flex-direction: row;
    
    
}

.login{
    display: block;
    width: 8rem;
    padding: 0.7rem;
    height: 1.5rem;
    background-color: #595b61;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-size: 1.4rem;
    margin-right: 2rem;
    border-style: none;
}
.register{
    width: 10rem;
    background-color: #0094FF;
    border-radius: 4px;
    font-size: 1.4rem;
    border-style: none;
}
.register:hover{
    color: #ffffff;
    font-weight: bold;
    background-color:#b46710;
    transition: all 200ms;

}
.image{
    width:42rem;
    margin-right: 2rem;

}